body {
  margin: 0;
}

div.Wrap {
  margin: 0;
  display: flex;
  justify-content: center;
}

div.Header {
  display: flex;
  width: 990px;
  justify-content: space-between;
}

button {
  border: 0;
  opacity: 100%;
  background-color: transparent;
  transition: background 0.3s ease-in-out;
}

img {
  width: 2rem;
  display: block;
  padding-bottom: 5px;
}
